* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: calc(100% - 80px);
    min-height: 400px;
    background-color: aliceblue;
    color: black;
    margin: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}